<div class="task-item" themeDirective>
    <ng-container *ngIf="isEdit then edit else show"></ng-container>
    <span class=task-item__date>{{ task.date | date: 'shortDate'}}</span>
    <span class=task-item__date>{{ task.id}}</span>

</div>

<ng-template #show>
    <span class=task-item__name>{{ task.text}}</span>
    <div class="task-item__actions" *ngIf="isEditable">
        <div class="task-item__actions_delete" (click)="deleteItem()">Del</div>
        <div class="task-item__actions_edit" (click)="enableEdit()">EDIT</div>
    </div>
</ng-template>

<ng-template #edit>
    <input type="text" [(ngModel)]="task.text">
    <div class="task-item__actions" *ngIf="isEditable">
        <div class="task-item__actions_save" (click)="saveChanges()">Save</div>
        <div class="task-item__actions_edit" (click)="disableEdit()">Cancel</div>
    </div>
</ng-template>