@mixin button {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    background-color: #ccc;
}

.task-item {
    padding: 10px 30px 10px 15px;
    border: 1px solid black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background: var(--background);
    color: var(--text-color);

    &__name {
        font-size: 1.2rem;
        color: var(--text-color);
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__date{
        color: var(--text-color);
        font-size: .9rem;
        font-style: italic;
    }
    
    &__actions{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &_delete {
            @include button();
            border-bottom: 1px solid black;
        }
        &_edit {
            @include button();
            background-color: #ccc;
        }
        &_save {
            @include button();
            background-color: rgb(109, 218, 114);
        }
    }
}

// .task-item_add{
//     width: 50%;
//     height: 50px;
//     background-color: #ccc;
// }