<h1>REDUX</h1>

<div class="btn_block">
  <button routerLink="list" routerLinkActive="RouterActive" class="btn">Список задач</button>
  <button routerLink="edit" routerLinkActive="RouterActive" class="btn">Редактирование</button>
</div>

<button (click)="toggleTheme()">Toggle Theme</button>
<router-outlet></router-outlet>