<p>edit works!</p>


<div class="edit">
    <app-task-item *ngFor="let item of (taskData | async).tasks" [task]="item" [isEditable]="true"></app-task-item>
</div>

<input type="text" [(ngModel)]="newText">
<button (click)="addTask(newText)">Add Task</button>