body{
    background: var(--background);
}



.btn_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #8b8b8b;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: .5rem;
    box-sizing: border-box;
}


.btn:hover {
    opacity: .7;
}

.RouterActive{
    background-color: rgb(243, 59, 59);
}
